* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  color: white;
  font-family: 'Rubik Glitch', monospace;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#acid-name {
  font-size: 4rem;
  text-align: center;
  color: #00ffff;
  text-shadow:
    0 0 5px #0ff,
    0 0 10px #0ff,
    0 0 20px #0ff,
    0 0 40px #0ff,
    0 0 80px #0ff;
  transition: all 0.2s ease-in-out;
}

